<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">


  <div class="main-content">
    <!-- <div class="container mt-2"> -->
      <!-- Table -->
      
      <div class="row" style="margin: 10px;">

        <div class="col">
          <div class="card shadow p-2">
            <div class="card-header border-0">
              
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush" id="filterResultTable">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="text-center">User</th>
                    <th scope="col" class="text-center">Dept.</th>
                    <th scope="col" class="text-center">Event Title</th>
                    <th scope="col" class="text-center">Date</th>
                    <th scope="col" class="text-center">Venue</th>
                    <th scope="col" class="text-center">Media Type</th>
                    <th scope="col" class="text-center"># of Print</th>
                    <th scope="col" class="text-center"># of Radio</th>
                    <th scope="col" class="text-center"># of TV</th>
                    <th scope="col" class="text-center">Budget</th>
                    <th scope="col" class="text-center">Status</th>
                  </tr>
                </thead>
                <tbody id="filterResult">
                    <% if (typeof requests !='undefined' ) { %>
                        <% requests.forEach(r=> { %>
                            <tr>
                              <td scope="col" class="text-center">
                                <%- r.fullname %>
                            </td>
                        <td scope="col" class="text-center">
                            <%- r.deptname %>
                        </td>
                       
                        <td scope="col" class="text-center">
                            <%- r.eventTitle %>
                        </td>
                        <td scope="col" class="text-center">
                            <%- r.eventDate %>
                        </td>
                        <td scope="col" class="text-center">
                          <%- r.eventVenue %>
                      </td>
                        <td scope="col" class="text-center">
                            <%- r.mediaType %>
                        </td>
                        <td scope="col" class="text-center">
                            <%- r.numberOfPrint %>
                        </td>
                        <td scope="col" class="text-center">
                            <%- r.numberOfMedia %>
                        </td>
                        <td scope="col" class="text-center">
                            <%- r.eventBudget %>
                        </td>
                        <td scope="col" class="text-center">
                          <%- r.eventBudget %>
                      </td>
                      <td scope="col" class="text-center">
                        <span class="badge badge-danger badge-pill w-100 p-2">
                          <%- r.requestStatus %>
                      </td>
                            </tr>
                            <% }) %>
                                <% } %>
                </tbody>
              </table>
            </div>
            
          </div>
        </div>
      </div>
      <!-- Dark table -->
     
    </div>
  </div>


